body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #005f73;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .app {
    background-color: #001219;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 90%;
    text-align: center;
    color: #94d2bd;
  }
  
  button{
    background-color: #0a9396;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease; border: 3px solid #0a9396;
  }
  
  button:hover {
    background-color: #001219;
   
  }
  
  #quiz {
    text-align: left;
    margin-bottom: 20px;
    color: #001219;
    background-color:#0a9396;
    border-radius: 10px;
    padding: 20px;
  }
  
  .question {
    margin-bottom: 10px;
    font-weight: 700;
    background-color:#001219 ;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
  }
  
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: left;
    font-weight: 500;
  }
  
  .option {
    padding: 8px;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #040000;
    color: #94d2bd;
  }
#foot{
  background-image: url('\\img\\20240719_151755.png');
  padding: 100px;
  height:auto;
  width: auto;
  margin:  15px auto;
  border-radius: 10px;
}